# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

# Окружение и секреты
.env
.env.*
!.env.example

# Локальные базы данных (если будут)
*.sqlite3

# Системные файлы
.DS_Store
Thumbs.db